.rightSideWrapper pre span {
  color: inherit !important;
  /*color: unset !important;*/
}

.rightSideWrapper {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column: 3;
  grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
}

@media (min-width: 1000px) {
  .rightSideWrapper {
    /* 64 pixes to compensate for grid col gap */
    margin-right: 64px;
  }
}

.rightSideWrapper pre span.token.cdata,
.rightSideWrapper pre span.token.comment,
.rightSideWrapper pre span.token.doctype,
.rightSideWrapper pre span.token.prolog {
  color: #6272a4 !important;
}
.rightSideWrapper pre span.token.punctuation {
  color: #f8f8f2 !important;
}
.rightSideWrapper pre span.namespace {
  opacity: 0.7 !important;
}
.rightSideWrapper pre span.token.constant,
.rightSideWrapper pre span.token.deleted,
.rightSideWrapper pre span.token.property,
.rightSideWrapper pre span.token.symbol,
.rightSideWrapper pre span.token.tag {
  color: #ff79c6 !important;
}

.rightSideWrapper pre span.token.boolean,
.rightSideWrapper pre span.token.number {
  color: #bd93f9 !important;
}

.rightSideWrapper pre span.token.attr-name,
.rightSideWrapper pre span.token.builtin,
.rightSideWrapper pre span.token.char,
.rightSideWrapper pre span.token.inserted,
.rightSideWrapper pre span.token.selector,
.rightSideWrapper pre span.token.string {
  color: #50fa7b !important;
}

.rightSideWrapper pre.language-css span.token.string,
.rightSideWrapper pre.style span.token.string,
.rightSideWrapper pre span.token.entity,
.rightSideWrapper pre span.token.operator,
.rightSideWrapper pre span.token.url,
.rightSideWrapper pre span.token.variable {
  color: #f8f8f2 !important;
}
.rightSideWrapper pre span.token.atrule,
.rightSideWrapper pre span.token.attr-value,
.rightSideWrapper pre span.token.class-name,
.rightSideWrapper pre span.token.function {
  color: #f1fa8c !important;
}
.rightSideWrapper pre span.token.keyword {
  color: #8be9fd !important;
}
.rightSideWrapper pre span.token.important,
.rightSideWrapper pre span.token.regex {
  color: #ffb86c !important;
}
.rightSideWrapper pre span.token.bold,
.rightSideWrapper pre span.token.important {
  font-weight: 700 !important;
}
.rightSideWrapper pre span.token.italic {
  font-style: italic !important;
}
.rightSideWrapper pre span.token.entity {
  cursor: help !important;
}
