
.tryOutWrapper .btnTryOut {
    color: var(--try-out-button-color)!important;
    border-color: var(--try-out-button-border-color)!important;
}

.tryOutWrapper .btnTryOut:hover {
    box-shadow: unset;
    border-color: var(--button-secondary-hover, var(--black-45, rgba(0, 0, 0, 0.45)));
    background-color: var(--button-secondary-hover);
}

.tryOutWrapper .btnTryOut:focus{
    outline: transparent;
    box-shadow: transparent;
}

