
.tryOutWrapper .btnCancel {
    color: var(--cancel-button-color);
    border-color: var(--cancel-button-border-color);
}

.tryOutWrapper .btnTryOut {
    color: var(--try-out-button-color);
    border-color: var(--try-out-button-border-color);
}

