@at-root :host {
  --models-border-color: var(--section_colors-stroke, var(--grey-300, #e7e7ec));
  --models-icon-color: var(--text_colors-accent, #3c4557);
}

.model {
  font-size: 12px;
  font-weight: 300;

  @include text_code();

  .deprecated {

    span,
    td {
      color: $model-deprecated-font-color !important;
    }

    >td:first-of-type {
      text-decoration: line-through;
    }
  }

  &-toggle {
    font-size: 10px;
    position: relative;
    top: 6px;
    display: inline-block;
    margin: auto .3em;
    cursor: pointer;
    transition: transform .15s ease-in;
    transform: rotate(90deg);
    transform-origin: 50% 50%;

    &.collapsed {
      transform: rotate(0deg);
    }

    &:after {
      display: block;
      width: 20px;
      height: 20px;
      content: '';
      background: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>') center no-repeat;
      background-size: 100%;
    }
  }

  &-jump-to-path {
    position: relative;
    cursor: pointer;

    .view-line-link {
      position: absolute;
      top: -.4em;
      cursor: pointer;
    }
  }

  &-title {
    position: relative;

    &:hover .model-hint {
      visibility: visible;
    }
  }

  &-hint {
    position: absolute;
    top: -1.8em;
    visibility: hidden;
    padding: .1em .5em;
    white-space: nowrap;
    color: $model-hint-font-color;
    border-radius: 4px;
    background: rgba($model-hint-background-color, .7);
  }

  p {
    margin: 0 0 1em 0;
  }

  .property {
    color: #999;
    font-style: italic;

    &.primitive {
      color: #6b6b6b;
    }
  }
}

table.model {
  tr {
    &.description {
      color: #666;
      font-weight: normal;

      td:first-child {
        font-weight: bold;
      }
    }

    &.property-row {
      &.required td:first-child {
        font-weight: bold;
      }

      td {
        vertical-align: top;

        &:first-child {
          padding-right: 0.2em;
        }
      }

      .star {
        color: red;
      }
    }

    &.extension {
      color: #777;

      td:last-child {
        vertical-align: top;
      }
    }
  }
}

section.models {
  margin: var(--spacing-xl) 0;
  border: 1px solid var(--models-border-color);
  border-radius: 3px;

  .pointer {
    cursor: pointer;
  }

  &.is-open {
    padding: 0 0 20px;

    h1 {
      margin: 0 0 5px 0;
      border-bottom: 1px solid rgba($section-models-isopen-h1-border-bottom-color, .3);
    }
  }

  h1 {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 20px 10px 10px;
    cursor: pointer;
    transition: all .2s;

    @include text_headline($section-models-h1-font-color);

    svg {
      transition: all .4s;
    }

    span {
      flex: 1;
    }

    &:hover {
      background: rgba($section-models-h1-background-color-hover, .02);
    }
  }

  &>h4 {
    border-bottom: 1px solid var(--models-border-color);
    color: var(--text_colors-primary, #3b4151);
    font-family: var(--swagger-ui-font-family);
    font-weight: 400;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  h5 {
    font-size: 16px;
    margin: 0 0 10px 0;
    @include text_headline($section-models-h5-font-color);
  }

  .model-jump-to-path {
    position: relative;
    top: 5px;
  }

  .model-container {
    margin: 0 20px 15px;
    position: relative;
    transition: all .5s;
    border-radius: 4px;
    background: var(--section_colors-accent, rgba($section-models-model-container-background-color, .05));

    &:first-of-type {
      margin: 20px;
    }

    &:last-of-type {
      margin: 0 20px;
    }

    .models-jump-to-path {
      position: absolute;
      top: 8px;
      right: 5px;
      opacity: 0.65;
    }
  }

  .model-box {
    background: none;
  }
}

.models-control {
  width: 100%;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;

  &> svg {
    margin-right: var(--spacing-sm);
    fill: var(--models-icon-color);
  }
}


.model-box {
  padding: 10px;
  display: inline-block;

  border-radius: 4px;
  background: rgba($section-models-model-box-background-color, .1);

  .model-jump-to-path {
    position: relative;
    top: 4px;
  }

  &.deprecated {
    opacity: .5;
  }
}


.model-title {
  font-size: 16px;

  @include text_headline($section-models-model-title-font-color);

  img {
    margin-left: 1em;
    position: relative;
    bottom: 0px;
  }
}

.model-deprecated-warning {
  font-size: 16px;
  font-weight: 600;
  margin-right: 1em;
  @include text_headline($_color-delete);
}


span {
  >span.model {
    .brace-close {
      padding: 0 0 0 10px;
    }
  }
}

.prop-name {
  display: inline-block;
  margin-right: 1em;
}

.prop-type {
  color: $prop-type-font-color;
}

.prop-enum {
  display: block;
}

.prop-format {
  color: $prop-format-font-color;
}