.sidebarList > ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 10px 25 px;
}

.sidebarList li.listTitle {
  font-weight: bold;
  color: var(--headings-color);
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebarList .method {
  border-radius: 3px;
  padding: 0.4rem 0;
}

.sidebarList .method a {
  cursor: pointer;
  position: relative;
  padding-left: 8px;
}
.sidebarList ul li {
  padding: 0.3rem 0.2rem 0.3rem 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-shade-grey-40);
}
.sidebarList ul li a {
  color: var(--dark-shade-grey-40);
  word-wrap: break-word;
}
.sidebarList ul li a:hover {
  color: var(--dark-shade-grey-20);
}

.sidebarList ul li .submenuTitle {
  position: relative;
  display: block;
  font-weight: 500;
  color: var(--headings-color);
  cursor: pointer;
  padding: 0.3rem 0.3rem 0.3rem 1.5rem;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarList ul li .submenuTitle:before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  border-top: 5px solid rgba(0,0,0,0);
  border-bottom: 5px solid rgba(0,0,0,0);
  border-left: 5px solid var(--text_colors-accent);
}

.sidebarList ul li.active .submenuTitle:before {
  transform: rotate(90deg);
}

.sidebarList ul li.submenu.active .submenuItems {
  height: auto;
  max-height: 9999px;
  padding-top: 0.5rem;
}

.sidebarList ul li.submenu .submenuItems {
  max-height: 0;
  overflow: hidden;
  padding-left: 2rem;
}
.sidebarList ul li .submenuItems a {
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  line-height: 1.2;
  font-weight: normal;
  text-align: start;
  white-space: break-spaces;
  color: var(--blue-500);
  text-transform: unset;
  height: unset;
  display: inline-block;
  width: 100%;
}


.sidebarList ul li .submenuItems a:focus,
.sidebarList ul li .submenuItems a:active {
  border-style: solid;
}

.sidebarList ul li .submenuItems li.active a {
  color: var(--headings-color);
  font-weight: 500;
}

.sidebarList ul li :global(.method-tag) {
  color: var(--white);
  font-size: 9px;
  width: 38px;
  height: max-content;
  padding: 0.3rem 0.3rem;
  border-radius: 3px;
  font-weight: 600;
  font-family: monospace;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}
.sidebarList ul li a:before {
  color: var(--white);
  font-size: 9px;
  padding: 0.28rem 0.1rem;
  position: absolute;
  top: 2px;
  left: 1rem;
  border-radius: 3px;
  font-weight: 600;
  width: 38px;
  display: inline-block;
  text-align: center;
  font-family: monospace;
  margin-right: 5px;
}
.sidebarList ul li.method {
  display: flex;
  align-items: center;
}
.sidebarList ul li.method div:global(.method-button-wrapper) {
  display: flex;
  width: 100%;
  align-items: center;
}

.methodButtonWrapper {
  display: flex ;
}

/* colors below should match kong-portal-templates colors for summary methods */

.sidebarList ul li :global(.method-tag-post) {
  background: var(--summary-post-background);
  color: var(--summary-post-color);
}
.sidebarList ul li :global(.method-tag-put) {
  background: var(--summary-put-background);
  color: var(--summary-put-color);
}
.sidebarList ul li :global(.method-tag-get) {
  background: var(--summary-get-background);
  color: var(--summary-get-color);
}
.sidebarList ul li :global(.method-tag-delete) {
  background: var(--summary-delete-background);
  color: var(--summary-delete-color);
}
.sidebarList ul li :global(.method-tag-patch) {
  background: var(--summary-patch-background);
  color: var(--summary-patch-color);
}
.sidebarList ul li :global(.method-tag-deprecated) {
  background-color: var(--steel-600);
  color: var(--black-100);
}
.sidebarList ul li :global(.method-tag-head) {
  background: var(--summary-head-background);
  color: var(--summary-head-color);
}
.sidebarList ul li :global(.method-tag-trace) {
  background: var(--summary-trace-background);
  color: var(--summary-trace-color);
}
.sidebarList ul li :global(.method-tag-options) {
  background: var(--summary-options-background);
  color: var(--summary-options-color);
}
