.filterContainer {
  margin: 5px 0;
}

.filterContainer input {
  color: var(--sidebar-filter-color);
  padding: var(--spacing-sm) var(--spacing-xl);
  border: 1px solid var(--sidebar-filter-border-color);
  border-radius: var(--sidebar-filter-border-radius);
  background-color: var(--sidebar-filter-background);
  line-height: 1;
  width: 100%;
  font-size: var(--sidebar-filter-font-size);
  font-weight: var(--sidebar-filter-font-weight);
}

.filterContainer .filterIcon {
  position: absolute;
  left: var(--spacing-sm);
  top: var(--spacing-md);
  display: inline-block;
  border-color: #e2e8f0;
}

.filterContainer .filterWrapper {
  position: relative;
  margin-right: var(--spacing-lg);
}

.filterContainer .filterWrapper .filterIcon svg path {
  fill: var(--text_colors-accent);
}

.filterContainer .filterWrapper >input {
  width: 80%;
}
