:host {
  --layout-container-margin: 0 32px;
  --scheme-container-background: var(--section_colors-body, #fff);
  --scheme-container-border-bottom-color: var(--section_colors-stroke, rgba(0, 0, 0, 0.1));
  --scheme-title-color: var(--text_colors-accent, #07A88D);
  --scheme-title-font-size: var(--type-xxl, 2rem);
}

.wrapper {
  font: 400 16px var(--swagger-ui-font-family);
}

.wrapper :global .actions {
  max-width: 100%;
  flex-wrap: wrap;
}

.container {
  margin: var(--layout-container-margin);
}

.error-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-xxl, 48px);
}

.scheme-container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background: var(--scheme-container-background);
  border-bottom: 1px solid var(--scheme-container-border-bottom-color);
}

.scheme__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.scheme__title {
  color: var(--scheme-title-color);
  font-weight: var(--headings-font-weight);
  font-size: var(--scheme-title-font-size);
}

.servers-wrapper > div {
  display: inline-flex;
  align-items: center;
}

.servers-wrapper :global .servers-title {
  font-size: var(--type-sm, 14px);
  color: var(--black-70, rgba(0, 0, 0, 0.7));
  display: inline-block;
  margin-right: var(--spacing-md);
}

.schemes-wrapper :global label {
  display: inline-flex;
  align-items: center;
  max-width: 400px;
}

.schemes-wrapper :global select {
  min-width: 130px;
  max-width: calc(100% - 6px);
  text-overflow: ellipsis;
  padding: 10px var(--spacing-md) !important;
  color: var(--black-70, rgba(0, 0, 0, 0.7)) !important;
}

.schemes-wrapper :global .schemes-title {
  font-size: var(--type-sm, 14px);
  font-weight: normal;
  color: var(--black-70, rgba(0, 0, 0, 0.7));
  display: inline-block;
  margin-right: var(--spacing-md);
}

.buttons-wrapper {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-wrapper .button {
  border-radius: 100px;
  font-size: 13px;
  line-height: 13px;
}

.button {
  display: inline-flex;
  justify-content: stretch;
}

.button:not(:first-of-type) {
  margin-left: var(--spacing-md, 16px);
}
