.sidebarWrapper .sidebarToggle {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: left;
  background: #eee;
  z-index: 2;
  transition: background 300ms ease;
  cursor: pointer;
}

.sidebarWrapper .sidebarToggle:hover {
  background: #f6f6f6;
}

.sidebarWrapper .sidebarToggle > p {
  margin: 0 32px;
}

.sidebarWrapper #sidebar {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.sidebarWrapper #sidebar a {
  text-decoration: none;
  transition: all 300ms ease;
}

.sidebarWrapper #sidebar .sidebarMenu {
  position: fixed;
  z-index: 2;
  top: 80px;
  width: 260px;
  height: calc(100vh - 80px);
  background: var(--white);
  overflow-y: auto;
  border-right: 1px solid var(--white-color);
}

.sidebarWrapper #sidebar #specSidebar {
  padding-bottom: 100px;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.overlay.open {
  display: block;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media all and (min-width: 1201px) {
  .sidebarToggle {
    display: none;
  }
  .overlay.on {
    display: none;
  }
  :global(.swagger-ui) {
    margin-top: 0;
  }
}

@media all and (max-width: 1200px) {
  #sidebar {
    position: fixed;
    top: 40px;
    right: 0;
    transform: translateX(100%);
    transition: all 400ms ease;
    z-index: 2;
  }
  #sidebar.open {
    transform: translateX(0);
  }
  #sidebar.open .sidebarMenu {
    height: 100vh;
    width: 300px;
    right: 0;
    border-right: none;
  }
  .sidebarToggle {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: left;
    background: #eee;
    z-index: 2;
    transition: background 300ms ease;
    cursor: pointer;
  }
  .sidebarToggle:hover {
    background: #f6f6f6;
  }
  .sidebarToggle > p {
    margin: 0 32px;
  }
}
