.sidebarWrapper #sidebar {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.sidebarWrapper #sidebar a {
  text-decoration: none;
}

.sidebarWrapper #sidebar .sidebarMenu {
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  width: var(--sidebar-width);
  height: 100%;
  padding: 2rem 1.5rem;
  background: var(--white);
  overflow-y: hidden;
}

.sidebarWrapper #sidebar #specSidebar {
  padding-bottom: 100px;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.45);  
  z-index: 1;
}

.overlay.open {
  opacity: 1;
  display: block;
}

@media all and (min-width: 1201px) {
  .sidebarToggle {
    display: none !important;
  }
  .overlay.open {
    display: none;
  }
  :global(.swagger-ui) {
    margin-top: 0;
  }
}

@media all and (max-width: 1200px) {
  #sidebar {
    position: fixed;
    top: 0;
    left: calc(-1.2 * var(--sidebar-width-mobile));
    z-index: 2;
  }
  #sidebar.open {
    left: 0;
  }
  #sidebar.open .sidebarMenu {
    width: var(--sidebar-width-mobile);
    border-right: none;
  }

  .sidebarToggle {
    position: fixed;
    left: 0;
    right: 0;
    top: 2rem !important;
    background: var(--white);
    height: 54px;
    width: 54px;
    border-radius: 50%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 3;
    cursor: pointer;
  }

  .sidebarToggle.open {
    background: transparent;
    transform: rotate(180deg);
    left: 246px;
  }

  .sidebarToggle .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    width: 22px;
    height: 2px;
    background-color: var(--text_colors-primary);
  }

  .sidebarToggle.open .icon:before {
    transform: rotate(45deg);
  }

  .sidebarToggle.open .icon:before,
  .sidebarToggle.open .icon:after {
    width: 50%;
    transition: transform 0.2s, width 0.2s;
  }

  .sidebarToggle .icon:before,
  .sidebarToggle .icon:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform: translateZ(0);
    transition: transform 0.2s, width 0.2s, top 0.3s;
  }

  .sidebarToggle.open .icon:after {
    transform: rotate(-45deg);
  }

  .sidebarToggle .icon:before {
    transform-origin: right top;
    transform: translateY(-6px);
  }

  .sidebarToggle .icon:after {
    transform-origin: right bottom;
    transform: translateY(6px);
  }
}
