/* .swagger-ui {
  display: flex;
} */
/*
.parameters-col {
  width: 50%;
} */
.swagger-ui .opblock {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.swagger-ui .opblock .opblock-section-header {
  -webkit-box-shadow: none;
  box-shadow: none;
}


.opblock .opblock-summary {
  background-color: white;
  border: none;
  border-bottom: none !important;
}

.opblock-body {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto auto 100px;
  background-color: white;
}

.opblock-body .btn-group {
  grid-row-start: 4;
  grid-column-start: 1;
}

.opblock-body .execute-wrapper {
  grid-row-start: 4;
  grid-column-start: 1;
}


.opblock-section {
  grid-column-start: 1;
}

.loading-container {
  grid-column-start: 1;
}

.right-side-wrapper {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 5;
}


.opblock-body {
  width: 100%
}

.swaggar-ui .responses-table {
  color: white !important;
}

/* code snippets */

.tabs-component ul{
  min-height: 25px;
  background-color: lightgrey;
  list-style: none;
  padding: 0;
  margin: 0;
}
.tabs-component li{
  display: inline;
  margin: 0 5px 0 0;
}

.tabs-component a {
  color: white
}

.tabs-component .is-active a{
  color: black
}