.swagger-ui .scheme-container {
  background-color: #ebf7ff;
  padding: 20px;
}

.swagger-ui .wrapper{
  max-width: none;
}

.swagger-ui .information-container {
  word-break: break-word !important;
}

/* this is required to align the execute button (both .execute-wrapper and .btn-group)
  Might lead to uglyness if we have a really long paramter name */
.swagger-ui table thead tr td, .swagger-ui table tbody tr td:first-of-type {
  width: 7em;
}

.swagger-ui .opblock {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.swagger-ui .opblock .opblock-section-header {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.swagger-ui .opblock .body-param {
  display: flex;
  flex-direction: column-reverse;
}

.swagger-ui .opblock .body-param .body-param-options label {
  display: flex;
  justify-content: space-between;
  background-color: rgb(245, 245, 245);
  border-radius: 3px 3px 0 0;
  border: 1px solid rgb(230, 230, 230);
  margin: 0 0 0 0;
}
.swagger-ui .opblock .body-param .body-param-options span {
  padding: 8px 5px;
}
.swagger-ui .opblock .body-param .body-param-options select {
  min-width: unset;
  margin-right: 5px;
}

.swagger-ui .opblock .body-param pre{
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 3px;
  border: 1px solid rgb(230, 230, 230);
}

.swagger-ui .opblock .body-param span{
  color: rgba(0, 0, 0, 0.7) !important;
}

.swagger-ui .opblock .body-param textarea{
  background: rgb(0, 36, 61);
  color: white;
  border-radius: 0 0 3px;
  border: 1px solid rgb(3, 3, 3);
  margin: 0;
}


.swagger-ui .opblock-section .table-container {
  padding-bottom: 0;
}

.swagger-ui .opblock-body .responses-wrapper pre {
  background-color: #ebf7ff;
  color: rgba(0, 0, 0, 0.7);
}

.swagger-ui .opblock-body .right-side-wrapper .markdown {
  background-color: #ebf7ff !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

.swagger-ui .opblock-body .right-side-wrapper pre span {
  color: unset !important;
}

.opblock .opblock-summary {
  display: grid !important;
  grid-template-columns: 80px auto 30px;
  border: none !important;
  border-bottom: none !important;
  background-color: white !important;
}

.opblock .opblock-summary .opblock-summary-method {
  grid-column-start: 1;
  grid-row-start: 2;
}

.opblock .opblock-summary .opblock-summary-description {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  font-family: Roboto-Medium !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  padding-bottom: 5px;
}

.opblock .opblock-summary .authorization__btn {
  grid-column-start: 3;
  grid-row-start: 1;
}

.opblock .opblock-summary .opblock-summary-path {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: rgb(245, 245, 245);
  padding: 5px 5px;
  font-size: 16px;
}

.opblock-body {
  display: flex;
  flex-direction: column;
  background-color: white;
}

@media (min-width: 768px) {
  /* we ie does not support implicet grids so we have to work around
      it also does not support grid-gaps so we use a extra col instead */
  .opblock-body {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 40% 60%;

    display: -ms-grid;

    -ms-grid-columns: 40% 30px 60%;
    -ms-grid-rows: auto auto auto 100px;
  }
}

.opblock-body .btn-group {
  grid-row-start: 3;
  -ms-grid-row: 3;
  grid-column-start: 1;
  -ms-grid-column: 1;
  padding: 0 20px 20px calc(7em + 20px);
  max-height: 60px;
}

.opblock-body .execute-wrapper {
  grid-row-start: 3;
  -ms-grid-row: 3;
  grid-column-start: 1;
  -ms-grid-column: 1;
  padding-top: 0;
  padding-left: calc(7em + 20px);
}

.opblock-section {
  grid-column-start: 1;
  -ms-grid-column: 1;
  grid-row-start: 2;
  -ms-grid-row: 2;
}

.loading-container {
  grid-column-start: 1;
  grid-row-start: 4;
  -ms-grid-column: 1;
  -ms-grid-row: 4;
}

.right-side-wrapper {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 5;

  -ms-grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
}

.opblock-body {
  width: 100%
}

.swaggar-ui .responses-table {
  color: white !important;
}

/* code snippets */

.code-snippet .tabs-component ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 30px;
  border-radius: 3px 0px 0px;
  background-color: rgb(0, 48, 82);
  list-style: none;
  padding: 0;
  margin: 0;
}
.code-snippet .tabs-component li{
  line-height: 2.5;
  display: inline;
  margin: 0 5px 0 0;
}

.code-snippet .tabs-component a {
  color: rgb(255, 255, 255);
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
}

.code-snippet .tabs-component .is-active a{
  color: rgb(255, 255, 255);
  font-family: Roboto-Medium;
  font-size: 14px;
  font-weight: 800;
}

.code-snippet .tabs-component-panels > section > pre {
  border-radius: 0 0 3px;
  background-color: rgb(0, 36, 61);
}

.code-snippet .tabs-component-panels > section > pre span :before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888
}
